fog/flows.json
[
  {
    "id": "4878232156ca2360",
    "type": "tab",
    "label": "Fog IoT - ESP32",
    "disabled": false,
    "info": ""
  },
  {
    "id": "0b1f26c081d520fa",
    "type": "mqtt in",
    "z": "4878232156ca2360",
    "name": "DHT11 Telemetry",
    "topic": "pos/iot/sensor/dht",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 490,
    "y": 220,
    "wires": [["35fb630708896cd8", "8dccbdd0dbdf543d"]]
  },
  {
    "id": "35fb630708896cd8",
    "type": "function",
    "z": "4878232156ca2360",
    "name": "Normalize Telemetry",
    "func": "msg.payload = {\n    deviceId: msg.payload.deviceId,\n    temperature: msg.payload.temp,\n    humidity: msg.payload.hum,\n    updatedAt: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 200,
    "wires": [["25b174926d17de98"]]
  },
  {
    "id": "25b174926d17de98",
    "type": "debug",
    "z": "4878232156ca2360",
    "name": "Sensor Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1160,
    "y": 200,
    "wires": []
  },
  {
    "id": "8dccbdd0dbdf543d",
    "type": "switch",
    "z": "4878232156ca2360",
    "name": "Temp > 28°C?",
    "property": "payload.temp",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "28",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 920,
    "y": 260,
    "wires": [["1766478bc509eed3"]]
  },
  {
    "id": "1766478bc509eed3",
    "type": "function",
    "z": "4878232156ca2360",
    "name": "Auto Command ON",
    "func": "msg.payload = {\n    action: \"ON\",\n    reason: \"high_temperature\"\n};\nreturn msg;",
    "outputs": 1,
    "x": 1160,
    "y": 260,
    "wires": [["b02a6a89026134f6"]]
  },
  {
    "id": "65ddf74a2b149e4c",
    "type": "mqtt in",
    "z": "4878232156ca2360",
    "name": "External Command Input",
    "topic": "pos/iot/external/luz/cmd",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 470,
    "y": 400,
    "wires": [["7f18d1c306a14c10"]]
  },
  {
    "id": "7f18d1c306a14c10",
    "type": "function",
    "z": "4878232156ca2360",
    "name": "Validate Command",
    "func": "if (!msg.payload.action) return null;\nif (msg.payload.action !== \"ON\" && msg.payload.action !== \"OFF\") return null;\nreturn msg;",
    "outputs": 1,
    "x": 940,
    "y": 400,
    "wires": [["b02a6a89026134f6"]]
  },
  {
    "id": "b02a6a89026134f6",
    "type": "mqtt out",
    "z": "4878232156ca2360",
    "name": "Send to Edge",
    "topic": "pos/iot/luz/cmd",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 1200,
    "y": 400,
    "wires": []
  },
  {
    "id": "fb91c4305ab6c376",
    "type": "comment",
    "z": "4878232156ca2360",
    "name": "Comando externo (app)",
    "info": "",
    "x": 460,
    "y": 360,
    "wires": []
  },
  {
    "id": "5b75535967655594",
    "type": "comment",
    "z": "4878232156ca2360",
    "name": "Telemetria (Ege)",
    "info": "",
    "x": 480,
    "y": 180,
    "wires": []
  },
  {
    "id": "bcc4d87eb22a6a32",
    "type": "comment",
    "z": "4878232156ca2360",
    "name": "Envio de atualização para edge",
    "info": "",
    "x": 1190,
    "y": 460,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
